@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

* {
	/*outline: 1px solid red !important;*/
	box-sizing: border-box;
	font-family: "Dosis", arial, sans-serif;
	color: #fff;
}

body {
	background: turquoise; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left,rgba(40,178,133,0.9), rgba(74,70,200,0.7)); /*Safari 5.1-6*/
  	background: -o-linear-gradient(right,rgba(40,178,133,0.9), rgba(74,70,200,0.7)); /*Opera 11.1-12*/
  	background: -moz-linear-gradient(right,rgba(40,178,133,0.9), rgba(74,70,200,0.7)); /*Fx 3.6-15*/
  	background: linear-gradient(to right, rgba(40,178,133,0.9), rgba(74,70,200,0.7)); /*Standard*/
	width: 100%;
}

.container-fluid {
	width: 100%;
}

.logo {
	margin-top: 20px;
	max-width: 100%;
}

.img-responsive {
	margin: 0 auto;
}

.cover {
	opacity: 0.2;
	max-width: 75%;
}

a {
	color: #fff;
}

.icons {
	position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
    text-align: center;
    font-size: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headline1, .foot{
	text-align: center;
}

.divider {
	width: 50%;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.modal-header, .description, .modal-footer {
	color: #1D7F5F;
}

.description, .modal-footer {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.project-name, .occupation {
	font-size: 20px;
	color: #fff;
}

/*center header info on smaller screens*/
@media screen and (max-width: 659px) {
	.name, .occupation, .head-image {
		text-align: center;
	}

	.icons {
		font-size: 40px;
		justify-content: space-around;
	}

	.cover {
		max-width: 90%;
	}
}

/*Medium screens to transition to larger*/
@media screen and (min-width: 660px) and (max-width: 991px) {
	.col-sm-12 {
		width: 50%;
	}
	header {
		display: flex;
	}

	.icons {
		font-size: 50px;
		justify-content: space-around;
	}
}